<div class="animated fadeIn ">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"  style="text-align: center"  >
          <i class="icon-note"></i> Form Validation
          <a class="badge badge-danger" href="https://coreui.io/pro/">CoreUI Pro Component</a>
          <div class="card-header-actions">
            <a class="card-header-action" href="https://angular.io/guide/form-validation" target="_blank">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body" style="text-align: center"  dir="auto" >إضافة عتاد إعلامية 
          <hr>
          <div class="row" >
            <div class="col-md-6"  style="text-align: right"  dir="rtl" >
              <form [formGroup]="matForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                <div class="form-group">
                  <label class="col-form-label " for="type"  dir="rtl"> العتاد</label>
                  <select (change)="findmarques()" ng-model="selectedItem" class="form-control" placeholder="العتاد"
                    autocomplete="العتاد" formControlName="type" required
                    [ngClass]="{ 'is-invalid': submitted && f.type.errors, 'is-valid': f.type.touched && !f.type.errors }">
                    <option *ngFor="let type of myTypes" value="{{type._id}}">{{type.type}}</option>
                  </select>

                  <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
                    <div *ngIf="f['type'].errors.required">Last Name is required</div>
                  </div>
                </div>
                <div class="form-group"  >
                  <label class="col-form-label" for="Marque" >نوع العتاد</label>
                  <select ng-model="selectedItem" class="form-control" placeholder="نوع العتاد"
                    autocomplete="نوع العتاد" formControlName="Marque" required
                    [ngClass]="{ 'is-invalid': submitted && f.Marque.errors, 'is-valid': f.Marque.touched && !f.Marque.errors }">
                    <option *ngFor="let marque of myfindMarques" value="{{marque._id}}">{{marque.marque}}</option>
                  </select>

                  <div *ngIf="submitted && f['Marque'].errors" class="invalid-feedback">
                    <div *ngIf="f['Marque'].errors.required">First Name is required</div>
                  </div>
                </div>
                <div *ngIf="matForm.value.type=='617851db5ff14e633aeff1e0'">
                  <div class="form-group">
                    <label class="col-form-label" for="ram">الذاكرة العشوائية</label>
                    <select ng-model="selectedItem" class="form-control" placeholder="الذاكرة العشوائية"
                      autocomplete="الذاكرة العشوائية" formControlName="ram" required
                      [ngClass]="{ 'is-invalid': submitted && f.ram.errors, 'is-valid': f.ram.touched && !f.ram.errors }">
                      <option *ngFor="let ram of myRam" value="{{ram._id}}">{{ram.capacite}}</option>
                    </select>

                    <div *ngIf="submitted && f['ram'].errors" class="invalid-feedback">
                      <div *ngIf="f['ram'].errors.required">ram is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="systeme">نضام التشغيل</label>
                    <select ng-model="selectedItem" class="form-control" placeholder="نضام التشغيل"
                      autocomplete="نضام التشغيل" formControlName="systeme" required
                      [ngClass]="{ 'is-invalid': submitted && f.systeme.errors, 'is-valid': f.systeme.touched && !f.ram.errors }">
                      <option *ngFor="let systeme of mySysteme" value="{{systeme._id}}">{{systeme.systeme}}</option>
                    </select>

                    <div *ngIf="submitted && f['systeme'].errors" class="invalid-feedback">
                      <div *ngIf="f['systeme'].errors.required">systeme is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="SerialNumber">الرقم التسلسلي</label>
                  <input class="form-control" id="SerialNumber" type="text" formControlName="SerialNumber"
                    placeholder="الرقم التسلسلي" autocomplete="الرقم التسلسلي" required
                    [ngClass]="{ 'is-invalid': submitted && f.SerialNumber.errors, 'is-valid': f.SerialNumber.touched && !f.SerialNumber.errors }" />
                  <div *ngIf="submitted && f['SerialNumber'].errors" class="invalid-feedback">
                    <div *ngIf="f['SerialNumber'].errors.required">SerialNumber is required</div>
                    <div *ngIf="f['SerialNumber'].errors.SerialNumber">{{formErrors.SerialNumber}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="situation">الوضعية</label>
                  <select ng-model="selectedItem" class="form-control" placeholder="الوضعية" autocomplete="الوضعية"
                    formControlName="situation" required
                    [ngClass]="{ 'is-invalid': submitted && f.situation.errors, 'is-valid': f.situation.touched && !f.domaine.errors }">
                    <option value="Operational">عملياتي </option>
                    <option value="stock">مخزون</option>
                    <option value="repair"> التصليح</option>
                    <option value="non operative"> غير عملياتي</option>
                  </select>
                  <div *ngIf="submitted && f['situation'].errors" class="invalid-feedback">
                    <div *ngIf="f['situation'].errors.required">situation is required</div>
                  </div>
                </div>
                <div *ngIf="matForm.value.situation =='Operational'">
                  <div class="form-group">
                    <label class="col-form-label" for="service">المصلحة</label>
                    <select ng-model="selectedItem" class="form-control" placeholder="service" autocomplete="service"
                      formControlName="service">
                      <!-- [ngClass]="{ 'is-invalid': submitted && f.service.errors, 'is-valid': f.service.touched && !f.service.errors }"> -->
                      <option *ngFor="let user of myRes" value="{{user._id}}">{{user.nomService}}</option>
                    </select>
                    <div *ngIf="submitted && f['service'].errors" class="invalid-feedback">
                      <div *ngIf="f['service'].errors.required">service is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="owner">المسؤول</label>
                    <select ng-model="selectedItem" class="form-control" placeholder="المسؤول" autocomplete="المسؤول"
                      formControlName="owner">
                      <!-- [ngClass]="{ 'is-invalid': submitted && f.owner.errors, 'is-valid': f.owner.touched && !f.owner.errors }"> -->
                      <option *ngFor="let owner of myOwners" value="{{owner._id}}">{{owner.firstName}}
                        {{owner.lastName}}
                      </option>
                    </select>
                    <div *ngIf="submitted && f['owner'].errors" class="invalid-feedback">
                      <div *ngIf="f['owner'].errors.required">owner is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="domaine">مجال الإستغلال</label>
                    <select ng-model="selectedItem" class="form-control" placeholder="مجال الإستغلال"
                      autocomplete="مجال الإستغلال" formControlName="domaine">
                      <!-- [ngClass]="{ 'is-invalid': submitted && f.domaine.errors, 'is-valid': f.domaine.touched && !f.domaine.errors }"> -->
                      <option value="application">منظومة </option>
                      <option value="bureautique">مكتبي</option>
                      <option value="internet"> أنترنات</option>
                    </select>
                    <div *ngIf="submitted && f['domaine'].errors" class="invalid-feedback">
                      <div *ngIf="f['domaine'].errors.required">domaine is required</div>
                    </div>
                  </div>
                  <div *ngIf="matForm.value.domaine =='application'">
                    <div class="form-group">
                      <label class="col-form-label" for="application"> اسم المنظومة</label>
                      <select ng-model="selectedItem" class="form-control" placeholder="اسم المنظومة"
                        autocomplete="اسم المنظومة" formControlName="application">
                        <!-- [ngClass]="{ 'is-invalid': submitted && f.application.errors, 'is-valid': f.application.touched && !f.application.errors }"> -->
                        <option *ngFor="let app of myApps" value="{{app._id}}">{{app.application}}</option>
                      </select>

                      <div *ngIf="submitted && f['application'].errors" class="invalid-feedback">
                        <div *ngIf="f['application'].errors.required">application is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="accept" formControlName="accept" required
                      [ngClass]="{ 'is-invalid': submitted && f.accept.errors, 'is-valid': !f.accept.errors }" />
                    <label class="custom-control-label" for="accept">I accept the terms of use</label>
                    <div *ngIf="submitted && f['accept'].errors" class="invalid-feedback">
                      <div *ngIf="f['accept'].errors.required">You have to accept our Terms and Conditions</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary mr-1" (click)="addmatInfo()"
                    [disabled]="matForm.pristine || matForm.invalid">Submit</button>
                  <button class="btn btn-success mr-1" type="submit" [disabled]="matForm.valid">Validate</button>
                  <button class="btn btn-danger" type="reset" [disabled]="matForm.pristine && !submitted"
                    (click)="onReset()">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
