<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Users
    </div>
    <div class="card-body"  dir="rtl">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name" />
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-responsive-lg" [mfData]="data | dataFilter : filterQuery"
        #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead  style="text-align: center">
          <tr>
            <th style="width: 10%">
              <mfDefaultSorter by="FirstName">العتاد</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="LastName">نوع العتاد</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="Service">الرقم التسلسلي</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="Service">الوضعية</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="email">الذاكرة العشوائية</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="Service">نضام التشغيل</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="Service">المصلحة</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="Service">المسؤول</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="Service">مجال الإستغلال</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="Service">اسم المنظومة</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter>تحيين</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody  style="text-align: center">
          <tr *ngFor="let item of mf.data | dataFilter : filterQuery"    >
            <td>{{item.type.type}}</td>
            <td class="text-left">{{item.Marque.marque | uppercase}}</td>
            <td>{{item.SerialNumber}}</td>
            <td>
              <label [ngClass]="{'badge badge-success': item.situation === 'عملياتي',
             'badge badge-secondary': item.situation === 'مخزون',
             'badge badge-danger': item.situation === 'غير عملياتي'}">{{item.situation}}</label>
            </td>
            <td>{{item.ram?.capacite | empty  }}</td>
            <td>{{item.systeme?.systeme | empty }}</td>
            <td>{{item.service?.nomService | empty }}</td>
            <td>{{item.owner?.firstName | empty }} {{item.owner?.lastName }}</td>
            <td>{{item.domaine | empty }}</td>
            <td>{{item.application?.application | empty }}</td>
            <td>
              <button type="button" [routerLink]="['/owners/update',item._id]" class="btn btn-info"><i
                  class="fa fa-refresh fa-lgs"></i>
              </button>
              <button class="btn btn-danger" (click)="onDelete(item._id)"><i class="fa fa-remove fa-lg"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
